$font-family-ocr: ocr-a-std, monospace;
$font-weight-ocr: 400;

$font-family-nhg-disp: neue-haas-grotesk-display, sans-serif;
$font-weight-nhg-disp-35-extra-light: 300;
$font-weight-nhg-disp-36-extra-light-it: 300;
$font-weight-nhg-disp-45-light: 400;
$font-weight-nhg-disp-46-light-it: 400;
$font-weight-nhg-disp-55-roman: 500;
$font-weight-nhg-disp-75-bold: 700;

$font-family-nhg-text: neue-haas-grotesk-text, sans-serif;
$font-weight-nhg-text-55-roman: 400;
$font-weight-nhg-text-56-romain-it: 500;
$font-weight-nhg-text-75-bold: 700; 
$font-weight-nhg-text-65-bold-it: 700; 